/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}
img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}


label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}


#buttonContainer {
  text-align: center;
}

button {
  --glow-color: rgb(4, 43, 95);
  --enhanced-glow-color: rgb(15, 15, 15);
  --btn-color: rgb(252, 252, 252);
  border: 0.2em solid var(--glow-color);
  padding: 1em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  input {
    font-size: 14px;
  }
}
